*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(49, 43, 177);
background: linear-gradient(180deg, rgba(2,0,36,1) 8%, rgb(56, 33, 170) 25%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 0;
}

.profile{
    margin-top: 20px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px 0;

}
.social img{
    width: 33px;
}

.avatar{
    width: 80px;
    margin-top: 15px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow:0 0 20px white 
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
}

h2{
    font-size: 18px;
    margin-top: 2px;
}

.links-list{

    list-style: none;
    text-decoration: none; 
}

.links-list li{
    margin: 10px 20px;
    
}

.links-list li a{
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px white;
    text-decoration: none;
    color:rgb(49, 43, 177);
    font-weight: bold;
}

.links-list li a span{
    color: rgb(151, 147, 147);
    display: block;
    margin-top: 10px;
}



.footer{
    background-color: black;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
}